.container {
    margin-top: 1.8rem;
}

ion-row {
    padding-right: 1rem;
    justify-content: space-evenly;
}

.quickCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 6.25rem;
    width: 6.25rem;
    height: 6.25rem;
}

ion-img {
    align-self: center;
    padding-top: 0;
    margin-bottom: 2px;
    width: 40px;
    height: 40px;
}

ion-icon {
    padding-top: 0;
    margin-bottom: 2px;
    width: 40px;
    height: 40px;
}

.textCard {
    padding-top: 2rem;
}